<h1 style="text-align: center;">WHAT IS THE NEXT NUMBER IN THE SERIES?</h1>
<h3 style="text-align: center;">2  3  10  15  26  35  50  63......</h3>
<div class="container">
  <div class="row g-3">
    <div class="col col-12 col-sm-12 col-md-12 col-lg-12">
      <form >
        <label for="number" class="form-label">ENTER THE INDEX OF THE NUMBER TO BE FOUND</label>
        <input type="text" #number class="form-control" placeholder="Enter index"><br>
        <button class="btn btn-success" (click)="findNum(number.value)">FIND</button>
      </form>
    </div>
  </div>
</div>


<h1 id="visi">THE VALUE OF THE NUMBER IS {{nom}}</h1>


<router-outlet></router-outlet>
